- page_title << @server.name
- page_title << "Messages"
- page_title << "Message ##{@message.id}"
= render 'servers/sidebar', :active_server => @server
= render 'servers/header', :active_nav => :messages
= render 'header', :active_nav => @message.scope.to_sym
= render 'message_header', :active_nav => :properties
.pageContent
  .messagePropertiesPage
    .messagePropertiesPage__left
      .messagePropertiesPage__propertyPair
        %dl.messagePropertiesPage__property
          %dt Spam Status
          %dd
            = link_to spam_checks_organization_server_message_path(organization, @server, @message.id) do
              %span.label.label--large{:class => "label--spamStatus-#{@message.spam_status.underscore}"}= @message.spam_status.underscore.humanize
        %dl.messagePropertiesPage__property
          %dt Tag
          %dd= @message.tag ? link_to(@message.tag, send("#{@message.scope}_organization_server_messages_path", organization, @server, :query => "tag: #{@message.tag}"), :class => "u-link") : "Not tagged"
      .messagePropertiesPage__propertyPair
        %dl.messagePropertiesPage__property
          %dt Raw Message
          %dd= @message.raw_message? ? "Available" : "Removed"
        %dl.messagePropertiesPage__property
          %dt Message Size
          %dd= @message.size ? number_to_human_size(@message.size) : "n/a"

      .messagePropertiesPage__propertyPair
        - if @message.scope == 'incoming'
          %dl.messagePropertiesPage__property
            %dt Route
            %dd
              - if @message.route
                = link_to @message.route.name, [:edit, organization, @server, @message.route], :class => "u-link"
              - else
                Unknown Route
          %dl.messagePropertiesPage__property
            %dt Domain
            %dd
              - if @message.domain
                = link_to @message.domain.name, [organization, @server, :domains], :class => "u-link"
              - else
                Unknown Domain
        - else
          %dl.messagePropertiesPage__property
            %dt Credential
            %dd
              - if @message.credential
                = link_to @message.credential.name, [:edit, organization, @server, @message.credential], :class => "u-link"
              - else
                Unknown Credential
          %dl.messagePropertiesPage__property
            %dt Domain
            %dd
              - if @message.domain
                = link_to @message.domain.name, [organization, @server, :domains], :class => "u-link"
              - else
                Unknown Domain
      - if @message.threat == 1
        %dl.messagePropertiesPage__property
          %dt Threat
          %dd= @message.threat_details
      %dl.messagePropertiesPage__property
        %dt Message ID
        %dd= @message.message_id || "No message ID"
      - unless @message.received_with_ssl.nil?
        %dl.messagePropertiesPage__property
          %dt Transport Security
          - if @message.received_with_ssl == 1
            %dd.messagePropertiesPage__property--locked Received over a SSL connection
          - else
            %dd Not received with SSL

    .messagePropertiesPage__right
      = render 'deliveries', :message => @message

/ IP Selector Modal
.modal.js-ip-selector-modal.is-hidden
  .modal__overlay.js-modal-close
  .modal__content
    .modal__header
      %h3.modal__title Choose IP Address for Retry
      %a.modal__close.js-modal-close{:href => "#"} ×
    .modal__body
      .ipSelector
        .ipSelector__loading.is-hidden
          %p Loading available IP addresses...
        .ipSelector__content
          %p Select which IP address to use for retrying this message:
          .ipSelector__list
            - @server.ip_pools_with_defaults.each do |pool|
              - pool.ip_addresses.order_by_priority.each do |ip|
                .ipSelector__item
                  %label.ipSelector__label
                    %input.ipSelector__radio{:type => "radio", :name => "ip_address_id", :value => ip.id, :data => {:ip => ip.ipv4, :hostname => ip.hostname, :priority => ip.priority}}
                    .ipSelector__info
                      .ipSelector__ip= ip.ipv4
                      .ipSelector__details
                        %span.ipSelector__hostname= ip.hostname
                        %span.ipSelector__priority Priority: #{ip.priority}
    .modal__footer
      .buttonSet
        = link_to "Cancel", "#", :class => "button button--dark js-modal-close"
        = link_to "Retry with Selected IP", "#", :class => "button button--positive js-ip-selector-submit", :data => {:message_id => @message.id}

/ Recall Message Modal
.modal.js-recall-modal.is-hidden
  .modal__overlay.js-modal-close
  .modal__content.modal__content--small
    .modal__header
      %h3.modal__title
        = image_tag 'icons/return-path.svg', :class => 'modal__title-icon'
        Recall Message
      %a.modal__close.js-modal-close{:href => "#"} ×
    .modal__body
      .recallForm
        .recallForm__loading.is-hidden
          .loadingState
            = image_tag 'icons/conveyor.svg', :class => 'loadingState__icon'
            %p.loadingState__text Sending recall notice...
            %p.loadingState__subtext This may take a few moments
        .recallForm__content
          .alert.alert--info
            = image_tag 'icons/help.svg', :class => 'alert__icon'
            .alert__content
              %p.alert__title About Recall
              %p.alert__text Send a recall notice to the original recipient of this message. This helps inform them that the previous message should be disregarded.
          
          = form_tag recall_individual_organization_server_message_path(organization, @server, @message.id), :method => :post, :class => 'js-recall-form', :remote => true do
            .formGroup
              = label_tag "recall_subject", "Recall Subject", :class => 'formGroup__label'
              = text_field_tag "recall[subject]", nil, :class => 'formGroup__input', :placeholder => 'e.g., Important: Please disregard previous message', :required => true, :id => 'recall_subject'
              %small.formGroup__help Clear, concise subject line indicating this is a recall notice
            .formGroup
              = label_tag "recall_body", "Recall Message", :class => 'formGroup__label'
              = text_area_tag "recall[body]", nil, :class => 'formGroup__input', :rows => 4, :placeholder => 'Explain why the message should be disregarded and provide any necessary context...', :required => true, :id => 'recall_body'
              %small.formGroup__help Be clear and professional in your explanation
              
            .recipientInfo
              = image_tag 'icons/email.svg', :class => 'recipientInfo__icon'
              .recipientInfo__content
                %p.recipientInfo__label Will be sent to:
                %p.recipientInfo__email= @message.rcpt_to || "Unknown recipient"
    .modal__footer
      .buttonSet
        = link_to "Cancel", "#", :class => "button button--dark js-modal-close"
        = link_to "Send Recall Notice", "#", :class => "button button--positive js-recall-submit"

