- page_title << @server.name
- page_title << "Messages"
- page_title << "Message ##{@message.id}"
= render 'servers/sidebar', :active_server => @server
= render 'servers/header', :active_nav => :messages
= render 'header', :active_nav => @message.scope.to_sym
= render 'message_header', :active_nav => :properties
.pageContent
  .messagePropertiesPage
    .messagePropertiesPage__left
      .messagePropertiesPage__propertyPair
        %dl.messagePropertiesPage__property
          %dt Spam Status
          %dd
            = link_to spam_checks_organization_server_message_path(organization, @server, @message.id) do
              %span.label.label--large{:class => "label--spamStatus-#{@message.spam_status.underscore}"}= @message.spam_status.underscore.humanize
        %dl.messagePropertiesPage__property
          %dt Tag
          %dd= @message.tag ? link_to(@message.tag, send("#{@message.scope}_organization_server_messages_path", organization, @server, :query => "tag: #{@message.tag}"), :class => "u-link") : "Not tagged"
      .messagePropertiesPage__propertyPair
        %dl.messagePropertiesPage__property
          %dt Raw Message
          %dd= @message.raw_message? ? "Available" : "Removed"
        %dl.messagePropertiesPage__property
          %dt Message Size
          %dd= @message.size ? number_to_human_size(@message.size) : "n/a"

      .messagePropertiesPage__propertyPair
        - if @message.scope == 'incoming'
          %dl.messagePropertiesPage__property
            %dt Route
            %dd
              - if @message.route
                = link_to @message.route.name, [:edit, organization, @server, @message.route], :class => "u-link"
              - else
                Unknown Route
          %dl.messagePropertiesPage__property
            %dt Domain
            %dd
              - if @message.domain
                = link_to @message.domain.name, [organization, @server, :domains], :class => "u-link"
              - else
                Unknown Domain
        - else
          %dl.messagePropertiesPage__property
            %dt Credential
            %dd
              - if @message.credential
                = link_to @message.credential.name, [:edit, organization, @server, @message.credential], :class => "u-link"
              - else
                Unknown Credential
          %dl.messagePropertiesPage__property
            %dt Domain
            %dd
              - if @message.domain
                = link_to @message.domain.name, [organization, @server, :domains], :class => "u-link"
              - else
                Unknown Domain
      - if @message.threat == 1
        %dl.messagePropertiesPage__property
          %dt Threat
          %dd= @message.threat_details
      %dl.messagePropertiesPage__property
        %dt Message ID
        %dd= @message.message_id || "No message ID"
      - unless @message.received_with_ssl.nil?
        %dl.messagePropertiesPage__property
          %dt Transport Security
          - if @message.received_with_ssl == 1
            %dd.messagePropertiesPage__property--locked Received over a SSL connection
          - else
            %dd Not received with SSL

    .messagePropertiesPage__right
      = render 'deliveries', :message => @message

/ IP Selector Modal
.modal.js-ip-selector-modal.is-hidden
  .modal__overlay.js-modal-close
  .modal__content
    .modal__header
      %h3.modal__title Choose IP Address for Retry
      %a.modal__close.js-modal-close{:href => "#"} ×
    .modal__body
      .ipSelector
        .ipSelector__loading.is-hidden
          %p Loading available IP addresses...
        .ipSelector__content
          %p Select which IP address to use for retrying this message:
          .ipSelector__list
            - @server.ip_pools.each do |pool|
              - pool.ip_addresses.order_by_priority.each do |ip|
                .ipSelector__item
                  %label.ipSelector__label
                    %input.ipSelector__radio{:type => "radio", :name => "ip_address_id", :value => ip.id, :data => {:ip => ip.ipv4, :hostname => ip.hostname, :priority => ip.priority}}
                    .ipSelector__info
                      .ipSelector__ip= ip.ipv4
                      .ipSelector__details
                        %span.ipSelector__hostname= ip.hostname
                        %span.ipSelector__priority Priority: #{ip.priority}
    .modal__footer
      .buttonSet
        = link_to "Cancel", "#", :class => "button button--dark js-modal-close"
        = link_to "Retry with Selected IP", "#", :class => "button button--positive js-ip-selector-submit", :data => {:message_id => @message.id}

